@tailwind base;
@tailwind components;
@tailwind utilities;

.task{
    padding: 10px;
}

.delete-btn{
    font-size: 11px;
    width: 70px;
    height: 30px;
    /* padding: 3px px; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 8px;
    background-color: #f44336;
    color: white;

}

li{
    list-style: none;

}

